@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@font-face {
    font-family: 'Mustica';
    src: url(./fonts/MusticaPro-SemiBold.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

body{
   background-color: #252b2d;
}

h1{
    font-family: 'Mustica';
    padding: 19px;
    font-size: 32pt;
    color: white;
    text-align: center;
}

main{
    background-color: #CFCFEA;
    font-family:'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: bold;
    height: 390px;
    width: 310px;
    min-width: 250px;
    max-width: 300px;
    border-radius: 18px;
    padding: 14px;
    margin: auto;
}

input{
    display: block;
    width: 160px;
    height: 13px;
    border: 1px solid transparent ;
    border-radius: 7px; 
    padding: 10px;
    font-size: 15px;  
}

label{
    display: block;
    text-align: left;
    padding: 10px;
    font-size: 22px;
}

#peso_usuario{
    width: 67px;
}

#resultado{
    font-size: 23px;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    line-height: 1em; 
}

.bttn{
    display: inline-flex;
    justify-content: center;
    background-color: #010b0e;
    color:#ffff;
    width: 140px;
    height: 33px;
    font-family: 'Titillium Web', Arial;
    line-height: 1em;
    padding: 8px;
    border-radius: 6px;
    position: relative; 
    margin-top: 10px;
}
