@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'Mustica';
    src: url(./fonts/MusticaPro-SemiBold.otf);
}

*{
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: 'Mustica', Arial, Helvetica, sans-serif;
    padding: 19px;
    font-size: 32pt;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    font-family:'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 17pt;
    background-color: #ffff;
    height: 250px;
    width: 450px;
    margin: auto;
    border-radius: 18px;
    box-shadow: -3px 3px 10px -1px rgba(0,0,0,0.28);
    padding: 13px;
}

input{
    width: 160px;
    height: 13px;
    border-radius: 7px; 
    padding: 6px;
    font-size: 15px;  
    border: 2px solid black;
}

label{
    text-align: left;
    padding: 7px;
    font-size: 22px;
}

#peso_usuario{
    width: 67px;
}

#resultado{
    font-size: 23px;
    font-weight: bold;
    padding: 25px;
    text-align: center;
    line-height: 1em; 
}

.bttn{
    font-family: 'Titillium Web', arial, Helvetica, sans-serif;
    background-color:#252b2d;
    color:#ffff;
    width: 100%;
    height: 30px;
    border: none;
    line-height: 1em;
    padding: 8px;
    position: relative; 
    margin-top: 20px;
}
